
#grid
{
    
    height: 100%;
    width: 100%;
}
#col
{
   
     font-family: 'Tajawal', sans-serif;
    font-size: 17px;
    text-align: center;
}

h1
{
   font-family:  'Tajawal', sans-serif;
    font-size: 50px;
    text-align: center; 
}

h2
{
    font-family:  'Tajawal', sans-serif;
    font-size: 30px;
    text-align: center;
    color: midnightblue;
    border: 2px solid midnightblue;
    
}
.lg

{
    
    position: absolute;
    width: 250px;
        margin-left: 300px;
    margin-top: 20px;
        border: solid 1px midnightblue;
    height: 187px;
}
.infor
{
   
    width: 250px;
    margin-left: 700px;
    border: solid 1px midnightblue;
    
    
}


#forma
{
    font-family: 'Tajawal', sans-serif;
    font-size: 17px;
    text-align: center;
}

#compet
{
    
    font-family: 'Tajawal', sans-serif;
    font-size: 17px;
    text-align: center;
}

.Centre
{
    
    font-family: 'Tajawal', sans-serif;
    font-size: 17px;
    text-align: center;
}

.info 
{
    border: midnightblue 2px solid;
    font-family: 'Tajawal', sans-serif;
    font-size: 17px;
    text-align: left;
    width: 300px;
    margin-left: 10px;
    
}